.col{
  background-color:rgba(6, 100, 232, 0.831);
  background-size:cover;
  

}
.container{
  margin-top: 5rem;
  
}
.card-header{
  text-align: center;
  background-color: white;
  
}
.card{
  width:20rem;
  height: 25rem;
  margin: 2rem;
  text-indent: 3ch;
}
.w-100 {
  background-color: blue;
}

.list-unstyled {
  text-align:start;
  line-height: 4ch ;
  font-weight:450;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

